body {
  margin: 0;
  background-color: #f7f7f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.03);
  opacity: 0.9;
}

input:focus {
  outline: 2px solid #00cec9;
  border-color: #00cec9;
}
